
.top-icon{
    width: 45px;
    height: 45px;
}

.side-icon{
    width: 45px;
    height: 45px;
}

.folders-icons{
    width: 40px;
    height: 40px;
}

.profile-pic{
    width: 75px;
    radius: "rounded-circle";
}
