.slategrey-fill {
    background-color: slategrey;
    height: 100vh;
}


.my-nav {
    border: 5px solid green;
}

.lightgreen-fill {
    border: 2px solid lightgreen;
}

.lawngreen-border {
    border: 5px solid lawngreen;
}


.gold-fill {
    background-color: gold;
}

.my-inbox {
    border: 5px solid blue;
}

.hotpink-border {
    border: 2px solid hotpink;
}

.skyblue-border {
    border: 2px solid skyblue;
    max-width: 50px;
}

.teal-border {
    border: 2px solid teal);
}


.red-border {
    border: 5px solid red;
}

.tan-fill {
    background-color: tan;
}

.orange-border {
    border: 5px solid orange;
}